@import "../mixins/mixins";
@import './variables';
@import './animation';
@import './misc';
@import './thanks';

.article-wrapper{
    overflow-x: hidden;
    // position: relative;
    font-size: 18px;
    line-height: 26px;
    color: $default;
    @extend %montserrat-regular;
    width: 100%;

    @import './global';
    @import '../components/components';
}

.article{
@import './article';
@import '../utilities/utilities';
}